<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-GramSeva</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">🌿 e-<span>GramSeva</span></div>
    <div class="nav-links">
        <a href="/logout" class="btn">Logout</a>
    </div>
</nav>
